<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>帮助首页</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="panel-group" id="accordion">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" 
				   href="#collapseOne">
					公司介绍
				</a>
			</h4>
		</div>
		<div id="collapseOne" class="panel-collapse collapse in">
			<div class="panel-body">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;江苏鸿程大数据技术与应用研究院有限公司，是一家专业从事大数据与人工智能技术研发的省级高科技企业，成立于2019年1月，注册并坐落于江北国家新区产业技术研创园腾飞大厦B座18楼，拥有1680平方米的研发和运营办公场地。 研究院是在南京市委、市政府“创建名城名校”以及“两落地、一融合”战略引导下，在南京市委、市政府新型研发机构政策推动以及市政府和江北新区资金扶持下，在南京大学创新创业政策的大力支持下，新近成立的信息技术高科技企业
			</div>
		</div>
	</div>
	<div class="panel panel-success">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" 
				   href="#collapseTwo">
					公司力量
				</a>
			</h4>
		</div>
		<div id="collapseTwo" class="panel-collapse collapse">
			<div class="panel-body">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2018年11月29日，在省委常委、南京市委书记张敬华，市长蓝绍敏，南京大学党委书记胡金波，南京大学校长吕建共同见证下，研究院与江北新区举行了隆重的研究院公司成立签约仪式。南京市政府和江北新区研创园给与研究院8000万元启动和扶持资金支持。 研究院核心技术团队来自于南京大学计算机科学与技术系PASA大数据技术实验室（http://pasa-bigdata.nju.edu.cn/），公司法人是来自PASA大数据实验室的学术技术带头人黄宜华教授。研究院注册资本1000万元，三家股东包括：核心技术团队，江北新区研创园，江北新区科技投资集团。 研究院将依托南京大学软件新技术国家重点实验室和江苏省软件新技术与产业化协同创新中心，以PASA大数据实验室10年来在大数据与人工智能领域积累的雄厚技术基础和力量为支撑，开展大数据与人工智能相关的核心技术、系统工具平台、大数据智能分析应用研发，并进行相关产品开发和产业孵化，以此建设省内标杆性大数据新型研发机构与企业，形成技术创新、应用推广、产业孵化、人才培训、以及合作交流基地
			</div>
		</div>
	</div>
	<div class="panel panel-info">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" 
				   href="#collapseThree">
					公司业务
				</a>
			</h4>
		</div>
		<div id="collapseThree" class="panel-collapse collapse">
			<div class="panel-body">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;根据市委市政府新型研发机构政策要求，研究院将在上述工作基础上，逐步孵化多家细分领域大数据与人工智能企业，并在5年内将这些孵化企业逐步做大做强。 研究院的主要业务与经营范围包括：通用化大数据与人工智能技术与系统工具平台产品开发与营销，在此基础上将承接政务、公安、金融证券、医疗健康、智能制造等典型行业的大数据与人工智能应用开发项目，并面向社会和企业开展大数据与人工智能专业技能与职业培训。
			</div>
		</div>
	</div>
	<div class="panel panel-warning">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" 
				   href="#collapseFour">
					项目介绍
				</a>
			</h4>
		</div>
		<div id="collapseFour" class="panel-collapse collapse">
			<div class="panel-body">
				题目：基于Web的人员项目管理系统</br>

主要功能：基于Web界面实现人员项目的管理，包括人员信息的录入、修改和删除，项目信息的录入、修改和删除，人员所属项目的设置、修改，每个人员最多可属于五个不同的项目。在人员所属项目设置界面中，用户可以快速添加人员或者项目，也可以通过链接查看人员或项目信息。具体地，人员信息包括姓名、性别、年龄、类型（正式员工，实习员工，PASA实验室学生，如果是PASA实验室学生，须备注学生所在年级），项目信息包括项目名称，持续周期，开始时间，结束时间，项目类型（国家级研究课题、省部级研究课题、企业合作项目、自研项目，若是企业合作项目，须备注合作企业名称）。</br>

开发方式：三人团队合作开发</br>
开发周期：15天（Deadline 3月26号）</br>

开发软件：前端界面框架可参考bootstrap、后端实现采用Django（v1.11.7）和python（v3.6），后端数据库管理采用MySQL（v5.7）
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function () { $('#collapseFour').collapse({
		toggle: false
	})});
	$(function () { $('#collapseTwo').collapse('show')});
	$(function () { $('#collapseThree').collapse('toggle')});
	$(function () { $('#collapseOne').collapse('hide')});
</script>  

</body>
</html>