<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body style="background-color:#FCFCFC">
<h2 style="text-align:center;color:blue">您要查询的项目信息如下：</h2>
<div style="margin-top:5%">
<table class="table">
<thead>
 <tr>
                    <th>id</th>
                    <th>名称</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>周期</th>
                    <th>项目类型</th>
                    
 
 </tr>
 </thead>
 <tbody>
 <tr class="success">
     <td>{{id}}</td>
      <td>{{name}}</td>
     <td>{{start}}</td>
     <td>{{end}}</td>
     <td>{{cycle}}</td>
     <td>{{category}}</td>
     
</tr>
</tbody>
</table>
</div>
</body>
</html>