@charset "utf-8";
/* CSS Document */

body{
	background-image: url(../image/2.jpg);
	text-align: center;	
	
	
}
#d1{
	padding: 100px;
}
a:link{
	color: burlywood
}

#h1{
	font-family:"李旭科书法"
	
	
}
#d2{
	margin:auto; 
	width: 30%;
	margin-top: 60px;
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
	background-color:floralwhite;
	filter:alpha(Opacity=50);
	opacity: 0.8; 
}
#s1{
	margin-top: 10px;
	margin-bottom: 30px;
	
}
